<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JewIt</title>
  </head>
  <body>
    <footer>
      <% const currentYear = new Date().getFullYear() %>
      <p>&copy; <%= currentYear %> Ilan. All rights reserved.</p>
    </footer>
  </body>
</html>
