<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jewish oliday</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div id="wiki-content">
      <iframe
        src="https://en.m.wikipedia.org/wiki/Jewish_holiday"
        title="Jewish_holidays"
        frameborder="0"
        width="100%"
        height="500px"
      ></iframe>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
